<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div style="padding: 30px;">
    <div class="card w-100 text-white text-center" style="background-color: #2C4B75; margin-top: 10px">
        <div class="card-body" style="padding: 50px;">
            <h2>500</h2>
            <h3>Internal server lagi error ... :(</h3>
        </div>
    </div>
</div>
<div th:include="fragments/fragment :: footer" style="margin-top: 15px;"></div>
</body>
</html>