<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Pasien Faskes</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div style="padding: 30px;">
    <div class="card">
        <div class="card-header text-white text-center" style="background-color: #2C4B75;">
            <h5>Tambah Pasien Faskes</h5>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form th:action="@{/faskes/} + ${faskes.idFaskes} + @{/tambah/pasien}" th:object="${dokterPasien}" method="POST">
                    Pasien<br>
                    <select class="form-control" th:field="*{pasien}">
                        <option th:each="pas : ${listPasien2}"
                                th:value="${pas.idPasien}"
                                th:text="${pas.namaPasien}"
                                th:selected="${pas.idPasien == dokterPasien.pasien}"
                        ></option>
                    </select>
                    <br>

                    Dokter<br>
                    <select class="form-control" th:field="*{dokter}">
                        <option th:each="dok : ${listDokter2}"
                                th:value="${dok.idDokter}"
                                th:text="${dok.namaDokter}"
                                th:selected="${dok.idDokter == dokterPasien.dokter}"
                        ></option>
                    </select>
                    <br>

                    Waktu Suntik <br>
                    <input required th:field="*{waktuSuntik}" class="form-control" type="datetime-local" name="waktuSuntik" />
                    <br>

                    <div style="margin-top: 10px;">
                        <button class="btn text-white float-right" style="background-color: #091C32;" type="submit">Tambah</button>
                        <a class="btn btn-outline-dark float-right" style="margin-right: 10px" th:href="@{/faskes/} + ${faskes.idFaskes}">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/fragment :: footer" style="margin-top: 15px;"></div>
</body>
</html>