<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div style="padding: 30px;">
    <div class="card">
        <div class="card-header text-white text-center" style="background-color: #2C4B75;">
            <h5>Detail Pasien</h5>
        </div>
        <div class="card-body">
            <div th:if="${pasien != null}" class="row" style="color: #2C4B75;">
                <div class="col-3">
                    <p th:text="'Nama Pasien'"></p>
                    <p th:text="'NIK'"></p>
                    <p th:text="'Nomor Telepon'"></p>
                    <p th:text="'Jenis Kelamin'"></p>
                    <p th:text="'Tanggal Lahir'"></p>
                    <p th:text="'Tempat Lahir'"></p>
                    <p th:text="'Pekerjaan'"></p>
                </div>
                <div class="col-9">
                    <p th:text="': ' + ${pasien.namaPasien}"></p>
                    <p th:text="': ' + ${pasien.nik}"></p>
                    <p th:text="': ' + ${pasien.noTelepon}"></p>
                    <p th:if="${pasien.jenisKelamin == 0}">: Perempuan</p>
                    <p th:if="${pasien.jenisKelamin == 1}">: Laki-laki</p>
                    <p th:text="': ' + ${#temporals.format(pasien.tanggalLahir, 'EEE, d MMMM yyyy HH:mm')}"></p>
                    <p th:text="': ' + ${pasien.tempatLahir}"></p>
                    <p th:text="': ' + ${pasien.pekerjaan}"></p>
                </div>
                <div class="container">
                    <div class="row justify-content-center mb-2">
                        <a class="btn text-white" style="background-color: #091C32;" th:href="@{/pasien/ubah/} + ${pasien.idPasien}">Ubah</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 30px;">
        <div class="card-header text-white text-center" style="background-color: #2C4B75;">
            <h5>Daftar Vaksinasi</h5>
        </div>
        <div class="card-body">
            <div th:if="${listFaskes.size() != 0}">
                <table class="table text-center">
                    <thead style="color: #2C4B75;">
                    <tr>
                        <th>No</th>
                        <th>Nama Faskes</th>
                        <th>Vaksin</th>
                        <th>Batch ID</th>
                        <th>Waktu Suntik</th>
                        <th>Nama Dokter</th>
                        <th>NIP Dokter</th>
                        <th>No Telepon Dokter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="faskes, iterationStatus : ${listFaskes}" style="color: grey">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${faskes.namaFaskes}"></td>
                        <td th:text="${faskes.getVaksin().getJenisVaksin()}"></td>
                        <td th:text="${listPasienDokter[iterationStatus.count-1].batchId}"></td>
                        <td th:text="${#temporals.format(listPasienDokter[iterationStatus.count-1].waktuSuntik, 'EEE, d MMMM yyyy HH:mm')}"></td>
                        <td th:text="${listPasienDokter[iterationStatus.count-1].getDokter().getNamaDokter()}"></td>
                        <td th:text="${listPasienDokter[iterationStatus.count-1].getDokter().getNip()}"></td>
                        <td th:text="${listPasienDokter[iterationStatus.count-1].getDokter().getNomorTelepon()}"></td>
                    </tr>
<!--                    <tr th:each="pasien, iterationStatus : ${listPasienDokter}">-->
<!--                        &lt;!&ndash;                            th:style="${iterationStatus.even} ? 'font-weight:bold;'"&ndash;&gt;-->
<!--                        <td th:text="${iterationStatus.count}"></td>-->
<!--                        <td th:text="${listFaskes[listFaskes.size()].namaFaskes}"></td>-->
<!--                        <td th:text="${listFaskes[iterationStatus.index].getVaksin().getJenisVaksin()}"></td>-->
<!--                        <td th:text="${pasien.batchId}" style="color: #2C4B75; font-weight: 500;"></td>-->
<!--                        <td th:text="${#temporals.format(pasien.waktuSuntik, 'EEE, d MMMM yyyy HH:mm')}"></td>-->
<!--                        <td th:text="${pasien.getDokter().getNamaDokter()}"></td>-->
<!--                        <td th:text="${pasien.getDokter().getNip()}"></td>-->
<!--                        <td th:text="${pasien.getDokter().getNomorTelepon()}"></td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <div th:unless="${listFaskes.size() != 0}" class="text-center">
                <h5 style="color: #2C4B75">Tidak ada faskes yang terdaftar</h5>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 20px; margin-top: 20px">
        <a class="btn btn-outline-dark float-right" href="/pasien">Kembali</a>
    </div>
</div>
<div th:include="fragments/fragment :: footer" style="margin-top: 50px;"></div>
</body>
</html>